﻿@model OhmValueCalculator.Controllers.OhmValueRange

<div>
    <span>@Model.IdealValue</span>
    <h1>Btween </h1>
    <span>@Model.LowerBoundValue</span>
    <h3>and</h3>
    <span>@Model.UpperBoundValue</span>
</div>