﻿@model OhmValueCalculator.Models.OhmValueViewModel

<script type="text/javascript">
    function updateResult(data) {
        $("#calculatedValue").text(data.value);
    };
</script>
@using (Ajax.BeginForm("CalculateOhmValue", "Home", new AjaxOptions { OnSuccess="updateResult"}))
{
    <div class="jumbotron">
        <h1>Ohm Value Calculator</h1>
        <div class="row">
            <div class="col-md-9">
                <label for="bandA">Band A:</label>@Html.DropDownListFor(m => m.BandAValue, Model.BandAItems, string.Empty, new {@name = "bandA"})
                <label for="bandB">Band B:</label>@Html.DropDownListFor(m => m.BandBValue, Model.BandBItems, string.Empty, new { @name = "bandB" })
                <label for="bandC">Band C:</label>@Html.DropDownListFor(m => m.BandCValue, Model.BandCItems, string.Empty, new { @name = "bandC" })
                <label for="bandD">Band D:</label>@Html.DropDownListFor(m => m.BandDValue, Model.BandDItems, string.Empty, new { @name = "bandD" })
            </div>
            <div class="col-md-3">
                <input type="submit" value="Calculate" />
            </div>
        </div>
        <div>Calculated Ohm Value:<span id="calculatedValue">0</span> Ohm </div>
    </div>


}